.btn {
  text-transform: uppercase;
  font-weight: 100;
  padding: 18px 34px;
  border: 2px solid #fff;
  color: #ffffff;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: .3s all;


  &:hover {
    background-color: #fff;
    color: $accent;
  }
}