.menu {
  z-index: 100;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;

  &__icon {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
  }

  &__ul {
    margin: 0;
    padding: 0;
  }

  &__li {
    list-style: none;
    display: inline-block;
    padding-right: 32px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
  }

}