.footer {
  background: $accent;
  height: 300px;
  display: flex;
  align-items: center;

  &__wrap {
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__socials {
    position: relative;
    margin-bottom: 60px;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform: translateX(-50%);
      width: 50px;
      border-bottom: 2px solid #fff;
    }
  }

  &__lists {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  &__item {
    margin: 5px 10px;
    position: relative;
    padding: 4px 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .3s all;

    &:hover {
      background: #fff;

      .footer__link {
        color: $accent;
      }
    }


  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    transition: .3s all;
  }

  &__corporate {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
  }
}