.service {
  padding: 100px 0;

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 50px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid $primary;
    }
  }

  &__subtitle {
    padding: 30px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 45px;
  }

  &__item {
    width: 30%;
    text-align: center;
    min-width: 320px;

  }

  &__itemicon {
    padding-bottom: 33px;
    display: flex;
    justify-content: center;
  }

  &__icon {
    height: 90px;
    width: 90px;
    border: 1px solid $primary;
    border-radius: 50%;
    object-fit: none;

    &_text {
      font-size: 48px;
      text-transform: uppercase;
      color: #fff;
      background: $accent;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      line-height: 30px;
    }
  }

  &__h4 {
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 100;
  }
}